/* =============== Реализация без использования JS. Главное меню в мобильной версии. Добавить/убрать класс header--nojs у тега header */
@media (max-width: $mobile-width-only) {
  .header.header--nojs .header__wrapper {
    position: relative;

    display: block;
    padding: 0;
  }

  .header.header--nojs .header__logo-block {
    position: absolute;
    top: 12px;
    left: 20px;
  }

  .header.header--nojs .header__nav {
    display: flex;
    flex-direction: column;
  }

  .header.header--nojs .site-navigation {
    position: static;
    display: block;
    visibility: visible;
    opacity: 1;
    z-index: 0;
  }

  .header.header--nojs .user-navigation {
    order: -1;
    margin-left: 75px;
  }

  .header.header--nojs .header__burger {
    display: none;
  }
}
