.footer {

  @media (min-width: $tablet-width) {
    padding-top: 38px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 40px;
  }
}

.footer__wrapper {

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 40px;

    display: grid;
    grid-template-columns: 318px 1fr;
    gap: 20px 30px;
  }
}

.footer__block,
.footer-nav {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.footer__line {
  border: 1px solid $base-secondary;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.footer__columns-links {

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 9px;
    margin-bottom: 0;
  }
}

/* ============== Tablet */

@media (min-width: $tablet-width) {

  .footer__logo-link--mobile {
    display: none;
  }

  .footer__logo-image--tablet {
    width: 170px;
    height: 36px;
  }

  .footer-nav__title--contacts {
    margin-bottom: 12px;
  }
}

/* ============= Desktop */

@media (min-width: $desktop-width) {

  .footer__logo-heading {
    display: block;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    margin-bottom: 50px;
  }
}
